@model MentoringApp.Data.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Mentor Profile</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaOfStudy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaOfStudy)
        </dd>
        <dt class = "col-sm-2">
            University
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.University.Name)
        </dd>
    </dl>
</div>
<div>
    <form asp-controller="Connection" asp-action="SendRequest" method="post">
    <input type="hidden" name="receiverId" value="@Model?.Id" />
    <button type="submit">Request connection</button>
    </form> |
    <a asp-action="Index">Back to List</a>
</div>
