@model IEnumerable<MentoringApp.Data.Models.ConnectionRequest>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Pending Requests</h2>
		</div>
	</div>
    <br /><br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.Status)
			</th>
            <th>
                Student Name
			</th>
             <th>
                Student Course
			</th>
            <th></th>
		</tr>
	</thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td width="50%">
                     @Html.DisplayFor(modelItem => item.Status)
				</td>
                <td width="30%">
                    @Html.DisplayFor(modelItem => item.Student.Name)
				</td>
                <td width="30%">
                   @Html.DisplayFor(modelItem => item.Student.CourseName)
				</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                     <form asp-action="AcceptRequest" asp-route-requestId="@item.Id" method="post">
                        <button type="submit"  class="btn btn-primary">Accept</button>
                     </form>

                     <form asp-action="RejectRequest" asp-route-requestId="@item.Id" method="post">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
					</div>
				</td>
			</tr>
        }
    </tbody>

</table>
</div>
